body {
  background-color: #757375;
}

label {
  display: inline-block;
  clear:left;
  width: 200px;
  text-align: left;
  color: #ffffff;
}




.nav.nav-stacked li a {
  color: black;
}

.nav.nav-stacked li {
  background: #ffffff;
  margin-right:-15px;
}

.nav.nav-stacked li a.active {
  background: #F2999A;
}

.nav.nav-stacked li a:hover:not(.active) {
  background-color: #555;
  color:white;
}

.nav.nav-stacked {
 background-color: #333;
 min-height:94.8%;
 margin-right:10px;
}
